/* PHONE */

@media screen and (max-width: 375px) {

    .navbar a {
        font-size: 59%;
    }

    .banner img {
        width: 100%;
        height: 40rem;
        object-fit: cover;
        background-position: center;
    }

    main {
        max-width: 70%;
    }

    .tracklist {
        grid-template-columns: repeat(1, 2fr);
        row-gap: 2rem;
        margin: 10rem 0rem;
    }

    .track-list {
        margin: 0 2rem;

    }

    .track-list li {
        font-size: 1rem;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .track-list li span {
        margin-right: 2rem;
    }

    .head h2 {
        font-size: 2rem;
        margin: 1rem 0;
    }

    .music-mv {
        margin: 10rem 0rem;
    }

    .mv img {
        width: 100%;
    }

    .info p {
        font-size: 1rem;
    }


    .member-photo {
        width: 100%;
        max-width: 1000px;
        margin: 3rem 0 0 0;
        overflow: hidden;
    }

    .mem-img img {
        width: 16.4rem;
        height: 10rem;

    }

    .mem-text {
        display: contents;
    }

    .mem-text li {
        font-size: 1rem;
        margin: 0.5rem;
    }


    footer {
        margin-top: 3rem;
    }

    .contact img {
        width: 1.2rem;
        margin: 1rem;
    }
}



@media screen and (min-width: 376px) and (max-width: 767px) {
    .navbar a {
        font-size: 0.7rem;
    }

    .banner img {
        width: 100%;
        height: 40rem;
        object-fit: cover;
        background-position: center;
    }

    main {
        max-width: 70%;
    }

    .tracklist {
        grid-template-columns: repeat(1, 2fr);
        row-gap: 2rem;
        margin: 10rem 0rem;
    }

    .track-list {
        margin: 0 2rem;

    }

    .track-list li {
        font-size: 1rem;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .track-list li span {
        margin-right: 2rem;
    }

    .head h2 {
        font-size: 2rem;
        margin: 1rem 0;
    }

    .music-mv {
        margin: 10rem 0rem;
    }

    .mv img {
        width: 100%;
    }

    .info p {
        font-size: 1rem;
    }


    .member-photo {
        width: 100%;
        max-width: 1000px;
        margin: 3rem 0 0 0;
        overflow: hidden;
    }

    .mem-img img {
        width: 100%;
        height: auto;

    }

    .mem-text {
        display: contents;
    }

    .mem-text li {
        font-size: 1rem;
        margin: 0.5rem;
    }


    footer {
        margin-top: 3rem;
    }

    .contact img {
        width: 1.5rem;
    }
}

/* IPAD */

@media screen and (min-width: 768px) and (max-width: 1022px) {
    nav {
        padding: 1.5rem
    }

    .navbar a {
        font-size: 1rem;
    }

    .banner img {
        width: 100%;
        height: 40rem;
        object-fit: cover;
        background-position: center;
    }

    main {
        margin-top: 10vh;
        max-width: 70%;
    }

    .tracklist {
        row-gap: 0rem;
        column-gap: 0rem;
        margin-bottom: 10rem;
    }

    .tracklist img {
        width: 100%;
    }

    .track-list li {
        font-size: 1rem;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .track-list li span {
        margin-right: 2rem;
    }


    .head h2 {
        font-size: 2rem;
        text-align: center;
        margin: 1rem 0;
    }


    .music-mv {
        margin: 10rem 2rem;
    }

    .mv img {
        width: 100%;
    }

    .info p {
        font-size: 1rem;
    }


    .member-photo {
        width: 100%;
        max-width: 1000px;
        margin: 5rem auto;
        overflow: hidden;
    }

    .mem-text {
        display: flex;
        justify-content: space-between;
        margin: 2rem;
    }

    .mem-text li {
        list-style-type: none;
        font-size: 1rem;
        margin: 1rem;
        cursor: pointer;
    }

    footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .contact img {
        width: 2rem;
        margin-bottom: 2rem;
    }
}


@media screen and (min-width: 1024px) {

    .banner img {
        width: 100%;
        /* height: 40rem; */
        object-fit: cover;
        background-position: center;
    }

    main {
        margin-top: 10vh;
        max-width: 70%;
    }

    .tracklist {
        row-gap: 0rem;
        column-gap: 0rem;
    }

    .tracklist img {
        width: 100%;
    }

    .track-list {
        margin: 0 2rem;

    }

    .track-list li {
        font-size: 1rem;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .track-list li span {
        margin-right: 2rem;
    }


    .head h2 {
        font-size: 2rem;
        text-align: center;
        margin: 1rem 0;
    }


    .music-mv {
        margin: 10rem 2rem;
    }

    .mv img {
        width: 100%;
    }

    .info p {
        font-size: 1rem;
    }

    .member-photo {
        margin: 6rem 0;
    }

    .mem-text {
        display: flex;
        justify-content: space-between;
        margin: 2rem;
    }

    .mem-text li {
        list-style-type: none;
        font-size: 1rem;
        margin: 1rem;
        cursor: pointer;
    }

    footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .contact img {
        width: 2rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
    .head h2 {
        font-size: 4rem;
    }

    .track-list li {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .track-list li span {
        margin: 0 2.5rem;
    }

    .info p {
        font-size: 1.3rem;
    }

    .slider-container {
        min-width: 90%;

    }

    .member-photo {
        max-width: 100%;
        margin: 5rem 0;
    }

    .mem-text {
        margin: 1rem 0;
    }
}

@media screen and (min-width:2560px) {
    nav {
        padding: 3rem;
    }

    .navbar a {
        font-size: 1.5rem;
    }

    .banner img {
        max-width: 100%;
        height: auto;
    }

    .head h2 {
        font-size: 6rem;
        margin: 2rem 0;
    }

    .track-list li {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .track-list li span {
        margin: 0 4rem;
    }

    .mv img {
        max-width: 80%;
        height: auto;
    }

    .info p {
        font-size: 2rem;
    }

    .slider-container {
        max-width: 80%;
        margin: auto;
    }

    .mem-img img {
        width: 100%;
        height: auto;
    }

    .mem-text li {
        margin: 2rem 0;
        font-size: 2rem;
    }

    .contact img {
        width: 3rem;
        margin: 4rem;
    }

}