* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: karla;
    color: #fff;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1000;
    padding: 2rem 0;
}

.navbar {
    display: flex;
    justify-content: center;
    /* จัดวางไอเท็มให้อยู่ตรงกลาง */
    list-style-type: none;
    /* เอา bullet points ออก */
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar a:hover {
    font-weight: bolder;
}

.banner {
    position: relative;
}

.banner img {
    background-size: cover;
    background-position: center;
    max-width: 1920px;
    overflow: hidden;

}


.banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}

main {
    margin-top: 100vh;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    margin: 0rem auto;
    justify-content: center;
    align-items: center;
}

.tracklist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin: 10rem 2rem 10rem;
}

.tracklist img {
    width: 100%;
}

.track-list {
    margin: 0 2rem;

}

.track-list ul {
    list-style-type: none;
}

.track-list li {
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.track-list li span {
    font-weight: bold;
    margin-right: 5rem;
}

.music-mv {
    margin: 10rem 0;
}

.head {
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0
}

.mv img {
    /* width: 100%; */
    height: 40rem;
    transition: opacity 0.5s ease-in-out;

}

.hidden {
    opacity: 0;
    /* เมื่อซ่อนภาพให้โปร่งใส */
}

.cen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listsong {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.info {
    font-size: 1.5rem;
    margin: 2rem;
    cursor: pointer;
}

#tracklist,
#musicmv,
#musicmv,
#member {
    scroll-margin-top: 100px;
}

.member-photo {
    margin: 10rem 2rem;
    overflow: hidden;
}

.member-slide {
    display: flex;
    transition: transform 0.5s ease;
    background-color: #33333367;
}

.mem-img img {
    width: 1136px;
    height: 600px;
    background-size: cover;
    background-position: center;
    object-fit: cover;

}

.mem-text {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.mem-text li {
    list-style-type: none;
    font-size: 1.5rem;
    margin: 0 2rem;
    cursor: pointer;
}

.mem-text .selected {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact img {
    width: 2rem;
    margin: 2rem;
}